    body {
        background-color: #f8f8f8;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
    }
    
    .box {
        z-index: 1000;
        position: absolute;
        margin-left: 6.40625%;
        top: 2.307%;
        width: 87.185%;
        height: 30px;
        background: url('image/texture2.png');
        box-shadow: 0px 3px 5px #00000029;
        border-radius: 12px;
    }
    
    .box2 {
        z-index: 1000;
        position: absolute;
        margin-left: 6.40625%;
        top: 74.538%;
        width: 87.185%;
        height: 30px;
        background: url('image/texture2.png');
        box-shadow: 0px 3px 5px #00000029;
        border-radius: 12px;
    }
    
    #navGnb {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
    
    #navSnb {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: none;
    }
    /*  사용  전*/
    
    #wrapper {
        position: relative;
        left: 0;
        right: 0;
        display: block;
        width: 100vw;
        max-width: 1920px;
        height: 120.3vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    /*wrap 역할 수행*/
    
    #header {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 10.307%;
        /* 중요*/
    }
    /*                                 trigger                                 */
    
    #trigger_area button {
        padding: 0;
        margin: 0;
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    
    #trigger_area {
        position: absolute;
        z-index: 2000;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    
    .trigger_logo_area {
        position: absolute;
        left: 6.40625%;
        top: 37.313%;
    }
    
    .trigger_logo {
        width: 136px;
        height: 34px;
        background-image: url(./image/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    
    .trigger_character_area {
        position: fixed;
        top: 80%;
        /*character trigger 위치*/
        right: 16%;
        /*trigger area 와 동일 */
        display: inline;
    }
    
    .trigger_character {
        position: relative;
        z-index: 2000;
        width: 75px;
        /*character trigger 크기,    변경 시 trigger_text_area의 left 도 수정*/
        height: 72px;
        background-image: url("image/logo_square.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    /*                                 trigger                                 */
    /*                                 gnb                                                                                */
    
    .gnb {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    
    .service_area {
        position: relative; top: 30.918%;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 82.1%;
    }
    
    .service_area a {
        position: relative;
        left: 28.6%;
        margin-right: 8.95%;
        text-decoration: none;
        text-align: left;
        font-family: Myriad pro;
        font-size: 18px;
        letter-spacing: 0.79px;
        color: #262626;
        opacity: 1;
    }   
    
    .link_brand {}
    
    .link_upcomming {}
    
    .link_atelier {}
    
    .service_area a::before {
        content: "";
        position: absolute;
        top: -30%;
        right:130%;
        display: inline-block;
        box-sizing: border-box;
        height: 30px;
        border: 1px solid #707070;
    }
    
    .sign_in_btn {
        position: absolute;
        
        right: 10.8854%;
        border: rgba(0, 0, 0, 0) 0;
        font-size: 18px;
        color: rgb(63, 63, 63);
        background-color: rgba(0, 0, 0, 0);
        font-family: Myriad pro;
    }
    
    .sign_out_btn {
        position: absolute;
        
        right: 6.40625%;
        border: rgba(0, 0, 0, 0) 0;
        font-size: 18px;
        color: rgb(63, 63, 63);
        background-color: rgba(0, 0, 0, 0);
        font-family: Myriad pro;
    }
    /*                                 btn                                 */
    
    .open_menu_btn {
        position: fixed;
        left: 3.3%;
        top: 4.2%;
        z-index: 2000;
        display: inline-block;
        width: 1.927%;
        padding: 0;
        border: rgba(0, 0, 0, 0) 0;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .btn_shape {
        position: relative;
        left: 0;
        display: block;
        box-sizing: border-box;
        height: 5px;
        margin: 5px;
        border: rgba(63, 63, 63, 0.8) 2px solid;
        border-radius: 20%;
        background-color: rgba(63, 63, 63, 0.8);
    }
    /*                                 btn                                 */
    /*                                 global_menu                                 */
    
    .nav_gnb {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 3000;
        display: inline-block;
        width: 10%;
        height: 100%;
        background-color: rgba(4, 4, 4, 0.9);
    }
    
    .close_menu_btn {
        position: absolute;
        right: 13%;
        top: 2%;
        display: inline;
        margin: 0;
        padding: 0;
        border: rgba(0, 0, 0, 0) 0;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.8);
        font-size: 35px;
        font-weight: bold;
    }
    /*                                 global_menu                                 */
    /*                                                                      gnb                                                                    */
    
    #container {
        position: relative;
        top: 10.307%;
        /*중요*/
        left: 0;
        right: 0;
        display: inline-block;
        width: 100%;
        height: 82%;
        /*컨테이너 크기*/
        overflow: hidden;
        /*애니메이션 연출 위함*/
    }
    
    #footer {
        position: relative;
        top: 10.307%;
        left: 0;
        right: 0;
        display: inline-block;
        width: 100%;
        height: 7.7%;
    }
    
    #phaise1 {
        position: absolute;
        z-index: 1;
        background-color: white;
        /*겹치는 순간 페이즈 2 위에 위치하기 위함*/
    }
    
    #phaise2 {
        position: relative;
    }
    
    .phaise {
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        
    }
    /*                                 banner                                 */
    
    .spot {
        position: relative;
        top: 7.975%;
        display: inline-block;
        width: 100%;
        height: 63.7%;
        overflow: hidden;
    }
    
    .banner_box {
        position: relative;
        display: block;
        left: 6.40625%;
        width: 87.185%;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        background-color: aliceblue;
        border-radius: 20px;
    }
    
    .image_box {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        height: 100%;
        border-radius: 50px;
        border-style: none;
    }
    
    .image_box img {
        height: 100%;
    }
    
    .text_box {
        position: relative;
        left: -9%;
        top: 0;
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    
    .banner_blur {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(26px);
        background-image: url(image/text_background.png);
    }
    
    .banner_text {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 9vh;
        padding-left: 9vh;
        box-sizing: border-box;
        font-size: x-large;
    }
    /*                                 banner                                 */
    /*                                 carousel                                                                               */
    

    /*                                 carousel                                                                               */
    
    .phaise_2 {
        display: none;
    }
    
    .write_phaise_2 {
        display: inline-block;
    }
    
    .move_phaise_1 {
        animation-name: MovePhaise_1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    
    @keyframes MovePhaise_1 {
        from {
            bottom: 0;
        }
        to {
            bottom: 100%;
        }
    }
    
    .hide_character {
        animation-name: HideCharacter;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    
    @keyframes HideCharacter {
        from {
            opacity: 1;
            top: 80%;
            right:16%;
        }
        to {
            opacity: 0;
            top: 80%;
            right:16%;
        }
    }
    
    .erase_character {
        display: none;
    }
    
    .erase_phaise_1 {
        display: none;
    }
   
    /*의미상 구분을 확실히 하기 위해 paint와 write, hide와 erase 로 구분하였음.*/
    
    .nav_gnb {
        width: 0%;
    }
    
    .hide_open_menu_btn {
        display: none;
    }
    
    .open_menu {
        animation-name: OpenMenu;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes OpenMenu {
        from {
            width: 0%;
        }
        to {
            width: 10%;
        }
    }
    
    .close_menu {
        animation-name: CloseMenu;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }
    
    @keyframes CloseMenu {
        from {
            width: 10%;
        }
        to {
            width: 0%;
        }
    }
    
    @media screen and (min-width: 1921px) {
        #wrapper {
            display: block;
            margin: 0 auto;
        }
        .trigger_character_area {
            position: absolute;
            left: 115.2px;
        }
    }
    
    @media screen and (min-height: 1081px) {
        .trigger_character_area {
            position: absolute;
            top: 745.2px;
        }
        .spot {
            height: 648px;
        }
    }